@model TourService.Entities.RouteEntity

@{
    Layout = null;
}
<div style="width: 100%; font-size: 10px">
    <table style="width: 100%">
        <tr>
            <td style="width:33.33% ; text-align: left">
                <span class="date"></span>
            </td>
            <td style="width:33.33%; text-align: center">
            </td>
            <td style="width:33.33%; text-align: right">
                <span class="pageNumber"></span>/<span class="totalPages"></span>
            </td>
        </tr>
    </table>
</div>