<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="width: 100%">
<table style="width: 100%">
    <tr>
        <td style="width:33.33% ; text-align: left">
            Test1
        </td>
        <td style="width:33.33%; text-align: center">
        </td>
        <td style="width:33.33%; text-align: right">
            Test3
        </td>
    </tr>
</table>
</div>
<div style="border: 1px solid #000; width: 100%;">
    <span style="text-align: center; font-size: 15px;">Test</span>
    <span style="text-align: left; font-size: 15px;">hhhhh&nbsp; wdwdwdwd</span>
    <span style="text-align: right; font-size: 15px;">hhhhh&nbsp; wdwdwdwd</span>
</div>
</body>
</html>